body {
    margin: 1% auto;
    max-width: 1600px;
    /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
    background-color: #f5f0e7;
}
li {
  margin: 0px 10px 0px 10px;
}
.inline-block {
    display: inline-block;
    vertical-align: top;  
}
.logo {
  text-align: center;
} 
.heroImg {
    height: 600px;
    padding: 25px;
    background-color: lightblue;
}
.content {
    /* width: 500px; */
    margin: 0 auto;
     border-bottom-style: solid;
    font: 30px new-spirit, sans-serif;
    color: #0A5029
    outline: 1px solid green;
}

/*this is the header and contents*/

.fred {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1600px;
  margin-left: 0%;
  margin-right: 0%;
  outline: 1px solid red;
}
.lily span {
    outline: 1px solid blue;
    /* margin-left: 1250px;
    margin-right: 20px;
   */
}

/*this is the footer and contents*/

footer {
  color: #0A5029
}
.sub-content span {
outline: 1px solid red;
margin: 20px;
/* color: dark gray */
}
.container {
  display: flex;
  align-items:baseline;
  max-width: 1600px;
  margin-left: 2%;
  margin-right: 5%;
  outline: 1px solid blue;
  }

.mySkills {
    background-color: lightseagreen;
    margin: auto;
}
.myWork {
    background-color: lavender;
}
.flexContainer {
    display: flex;
  }
  .flexContainer div {
    width: 33%;
    margin: 10px;
    padding: 10px;
  }

  /* this is where the work grid starts*/

.item1 { grid-area: project1-image; }
.item2 { grid-area: project1-details; }
.item3 { grid-area: project2-image; }
.item4 { grid-area: project2-details; }

.grid-container {
  display: grid;
  grid-template-areas:
  'project1-image project1-image project1-details project1-details project1-details project1-details'
  'project2-image project2-image project2-details project2-details project2-details project2-details';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  margin: 0px 10%; 
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/*this was my original css grid code*/

  /* .workGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
    .grid-container {
    display: grid;
    padding: 10px; 
    margin: 0px 10%; 
    grid-gap: 10px;
  } */
        
    @media only screen and (max-width: 600px) {
   .fred, .container {
    flex-direction: column; 
    margin-left: 0;  
    margin-right: 0;  
  }
  .lily, .sub-content {
    margin-left: auto;
    margin-right: auto;  
  }
    .heroImg {
    height: 400px;  
  }
  .content {
    font-size: 15px;
  }
  /* Flex container adjustments for mobile */
  .flexContainer div {
      width: 50%;  
    margin: 5px 0;  
  }
  /* Grid container adjustments for mobile */
  .grid-container {
    grid-template-areas:
      'project1-image'
      'project1-details'
      'project2-image'
      'project2-details';  
    gap: 5px; 
  }
}

  